<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table id="contacts" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>

<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("table#contacts").DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": "<%= contacts_path(format: :json) %>",
      "start": 0,
      "length": 10,
      "columns": [
        { "data": "name" },
        { "data": "bio" },
        { "data": "age" }
      ]
    });
  })
</script>
